<body>
    <div class="app-margin">
        <div class="row">
            <!--<div class="col-md-3">
                <app-cooldown-form
                    (createdTimerObject)="addTimerToList($event)"
                    (saveAndReorderEvent)="saveAndReorder()">

                </app-cooldown-form>
            </div>
            <div class="col-md-9">
                <app-cooldown-list>

                </app-cooldown-list>
            </div>-->

            <div class="col-md-12">
              <app-hunt-planner>
                
              </app-hunt-planner>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
